  /********* NAV BAR **************/
  
  .navbar-custom {
      padding: 1em 0 1em 0;
      border-bottom: 2px solid #DA7817;
      background-color: #22BDD3;
  }
  /****************************   ABOUT ME PAGE  *************************/
  
  .about-row-extention {
      width: 80em;
  }
  /*about me container background color*/
  
  .homePage-am {
      background-color: #FFF66C;
      margin: 3em 0 0 0;
      border: 2px solid #AFBD16;
  }
  /*spongebob image*/
  
  #thumbsUp {
      width: 200px;
      height: 200px;
      border-radius: 100px;
      float: left;
      margin: 2em 2em 2em 2em;
  }
  /*about me text*/
  
  .me {
      color: #DA7817;
  }
  /*<hr> line divider*/
  
  .am-lineDivider {
      border: 1px solid #22BDD3;
  }
  
  #textAboutMe {
      font-size: 1.10em;
  }
  
  #connect {
      float: right;
      margin: 3em 0 0 0;
  }
  
  .conn-with-me {
      background-color: #FFF66C;
      border: 2px solid #AFBD16;
      color: #DA7817;
      margin: 3em 0 0 0;
      width: 500px;
  }
  
  .cwm-lineDivider {
      border: 1px solid #22BDD3;
  }
  
  .krabby-patty {
      width: 400px;
      height: 300px;
      border-radius: 150px;
      margin-left: 3em;
  }
  /***************************** FOOTER *********************************/
  
  .footer-custom {
      background-color: #22BDD3;
      padding: 1em 0 1em 0;
      border-top: 2px solid #DA7817;
  }
  
  .icon-inline {
      display: inline-block;
  }
  
  #jobport {
      font-weight: bold;
      margin: 0 0 0 1em;
      color: #DA7817;
  }
  
  .copyright-text {
      color: #FFF66C;
      font-weight: bold;
  }
  /***************************** CONTACT PAGE *********************************/
  /*contact form*/
  
  .contact-custom {
      margin-top: 5em;
  }
  /***************************** PORTFOLIO PAGE *********************************/
  
  .portfolio-container {
      width: 960;
      background-color: white;
  }
  
  .cooking {
      width: 300px;
      height: 300px;
  }